<%-include("header");-%> <!-- Includes the header-->
<h1>Compose</h1> <!-- Page Title-->
<form action="/compose" method="post"> <!-- Form to collect user input-->
    <div class="form-group"> <!-- Div to format all the items-->
        <label>Title</label> <!-- Label for first text box-->
        <input class="form-control" type="text" name="postTitle"> <!-- 1 line text box-->
        <label>Post</label> <!-- Label for second text box-->
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea> <!-- Multi line text box-->
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button> <!-- Button to submit user input-->
</form>
<%-include("footer");-%> <!-- Includes the footer-->