<%-include("header");-%> <!-- Include the heading template which gives html boiler plate and the navbar and css styles-->
<h1><%=title%></h1> <!-- Blog header-->
<p><%=content%></p> <!-- Blog content-->
<%-include("footer");-%> <!-- Includes the footer template-->