</div> <!-- Ends the container div that formatted everything-->
<div class="footer-padding"></div> <!-- Includes a footer and formats it with css class names-->
  <div class="footer">
    <p>awhittle2</p> <!--Content of the footer-->
  </div>
</div>
</body>
</html> <!-- End of the file-->